body

   {

   margin: 0px;

   padding: 0px;

   background-color: #BEBCAF;

   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;

   font-size: 10px;

   overflow: auto;

    }

form

    {

    border:solid 0px black;

    margin:0px;

    }

a

   {

   color: #D58700;

   }

a:hover

   {

   color: #FFBD40;

   }

div

   {

   border:0px solid black;

   }

.hidden

    {height:180px;

    display:none}

.pagina

   {

   width:800px;

   overflow:auto;

   }

.header

   {

   width:800px;

   height:130px;

   background-image:url(../images/header_bg.gif);

    text-align:left;

   }

.inloggen

   {

   margin:50px 10px 0px 25px;

   font-size:10px;

   text-align:right;

   width:120px;

   }

.scheider

   {

   font-size:0px;

   width:800px;

   height:2px;

   background-image:url(../images/scheiding_bg.gif);

   }

.kruimelpad

   {

   width:800px;

   background-image:url(../images/kruimelpad_bg.gif);

   overflow:auto;

   margin:0px;

   }

.kruimelpadblock

   {

   font-size:12px;

   text-align:left;

   margin:4px 5px 4px 25px;

   }

.contents

   {

   width:800px;

   background-image:url(../images/main_bg.gif);

   overflow:auto;

   font-size:10px;

   text-align:left;

   }

.navigation

   {

   float:left;

   width:200px;

   margin:20px 0px 0px 0px;

   padding: 0px 0px 0px 0px;

   background-image:url(../images/navigation_bg.gif);

   background-repeat:no-repeat;

   }

.navigationblock

   {

   margin:0px 9px 0px 20px;

   padding: 0px 0px 0px 0px;

   }

.navigationblock a:hover

    {

   text-decoration: underline;

   color: #FFBD40;

    }

.navigationlist

    {

   margin: 5px 0px 5px 0px;

   padding: 0px 0px 0px 0px;

   list-style-image: none;

   list-style-position: outside;

   list-style-type: none;

   color: #6A4300;

    }

.navigationlistitem, .navigationlistitem a

    {

   font-size: 12px;

   font-weight: bold;

   text-decoration: none;

   color: #6A4300;

    border:0px solid black;

   margin: 0px 0px 0px 10px;

   padding: 0px 0px 0px 0px;

    }

.main

   {

   float:left;

   width:583px;

   font-size:11px;



/*   background-image:url(../images/main_bg.gif);      */

   }

h1{font-size:16px;font-weight:bold;}

h2{font-size:14px;font-weight:bold;}

h3{font-size:12px;font-weight:bold;}

h4{font-size:12px;font-style: italic;}

h5{font-size: 12px;}

.mainblock

   {

   position:relative;

   text-align:justify;

   margin:20px 20px 20px 20px;

   }

.footer

   {

   width:800px;

   height:20px;

   font-size:10px;

   padding-top:3px;

   background-image:url(../images/footer_bg.gif);

   }



.bulletmenu ul{

    border: 0px solid black;

   margin:0px 0px 0px 5px;

   padding:0px 0px 0px 0px;

   }

.bulletmenu ul li{

   list-style-image:url(../images/bullet3.gif);

    border: 0px solid black;

   margin:0px 0px 0px 10px;

   padding:0px 0px 0px 0px;

   }

ul{

    border: 0px solid black;

   margin:0px 0px 0px 10px;

   padding:0px 0px 0px 0px;

   }

li{

   list-style-image:url(../images/bullet1.gif);

    border: 0px solid black;

   margin:0px 0px 0px 20px;

   padding:0px 0px 0px 0px;

   }

li ul li{

   list-style-image:url(../images/bullet2.gif);

    border: 0px solid black;

   margin:0px 0px 0px 20px;

   padding:0px 0px 0px 0px;

   }

.kader

    {

    border:1px solid #6A4300;

    padding:1px;

    width:542px;

    font-size:11px;

    }

.even

    {

    margin-left:1px;

    padding-left:3px;

    background-color:#ffffff;

    font-size:11px;

    text-align:justify;

    }

.oneven

    {

    margin-left:1px;

    padding-left:3px;

    background-color:#FFFBCE;

    font-size:11px;

    text-align:justify;

    }

.tabeltitel

    {

    background-color:#FFBD40;

    font-weight:bold;

    font-size:larger;

    padding:3px;

    }



fieldset

    {

    width:530px;

    font-weight:normal;

    float: none;

    clear: both;

    border: 1px solid black;

    background-color:#FDE79D;

    margin-top:5px;

    padding-top:10px;

    }

.label160

    {

    font-size:12px;

    font-weight:normal;

    width:160px;

    text-align:right;

    float:left;

    height:30px;

    border: 0px solid black;

    }

.label220

   {

   font-size:12px;

   font-weight:normal;

   width:220px;

   text-align:right;

   float:left;

   height:30px;

   border: 0px solid black;

   }

.label280

   {

   font-size:12px;

   font-weight:normal;

   width:280px;

   text-align:right;

   float:left;

   height:30px;

   border: 0px solid black;

   }

.waarde

   {

   padding-left:10px;

   height:30px;

   border: 0px solid black;

   }

.invoer

    {

    width:290px;

    }

.waardex

   {

   padding-left:10px;

   border: 0px solid black;

   }

#IIPostCodes {height:100px;}

#IIWoonsituatie {height:100px;}

#IIMantelzorg {height:100px;}

#IIAlarmsysteem {height:80px;}

.inputItem

   {

   clear:both;

/*   height:30px; */

   border: 0px solid black;

    overflow:auto;

   }

.EvaluatieInstrumentItem

   {

   clear:both;

   height:30px;

   border: 0px solid black;

   }

.verplicht

    {

    background-color:#CC6600;

    height:20px;

    }

.verplicht .titel

    {

/* background-image:url(../images/boogje_bg.gif); */

/*    background-repeat:no-repeat; */

    }

.titel

    {

    padding-top:0px;

    padding-right:0px;

    padding-bottom:0px;

    padding-left:100px;

    font-weight:bold;

    height:20px;

    }

.begincel

    {

    padding-top:0px;

    padding-right:0px;

    padding-bottom:0px;

    padding-left:0px;

    font-weight:100;

/* background-image:url(../images/boogje_bg.gif); */

/*    background-repeat:no-repeat; */

    }

.legende

    {

    margin-left:10px;

    font-size:14px;

    font-weight:bold;

   color: #6A4300;

    }

.reqfield

    {

    color:#990000;

    elevation:higher;

    display:inline;

    }

.puntlijn

    {

    border-bottom:dotted 1px black;

    height: 30px;

    width: 100px;

    }

.accentcel

    {

    background-color:#FF9900;

    }

th, td

    {

    font-size:12px;

    text-align:left;

    }



.tip {

    font-size:9px;

    font-style:italic;

}

.aankeiler {
   display: none;
   width: 400px;
   height: 65px;
   background: rgb(95%,95%,70%);
   position: absolute;
   z-index: 1;
   font-size: 10px;
   padding: 3px;
}



.aankeiler div {
  text-align: left;
}
